<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjp.layui.mbg.mapper.School_departmentMapper">
  <resultMap id="BaseResultMap" type="com.cjp.layui.mbg.model.School_department">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="schoolid" jdbcType="BIGINT" property="schoolid" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="grantid" jdbcType="BIGINT" property="grantid" />
    <result column="rem" jdbcType="VARCHAR" property="rem" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, schoolid, department, grantid, rem, createtime, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from school_department
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from school_department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cjp.layui.mbg.model.School_department">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into school_department (schoolid, department, grantid, 
      rem, createtime, deleted
      )
    values (#{schoolid,jdbcType=BIGINT}, #{department,jdbcType=VARCHAR}, #{grantid,jdbcType=BIGINT}, 
      #{rem,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cjp.layui.mbg.model.School_department">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into school_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolid != null">
        schoolid,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="grantid != null">
        grantid,
      </if>
      <if test="rem != null">
        rem,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolid != null">
        #{schoolid,jdbcType=BIGINT},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="grantid != null">
        #{grantid,jdbcType=BIGINT},
      </if>
      <if test="rem != null">
        #{rem,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjp.layui.mbg.model.School_department">
    update school_department
    <set>
      <if test="schoolid != null">
        schoolid = #{schoolid,jdbcType=BIGINT},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="grantid != null">
        grantid = #{grantid,jdbcType=BIGINT},
      </if>
      <if test="rem != null">
        rem = #{rem,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjp.layui.mbg.model.School_department">
    update school_department
    set schoolid = #{schoolid,jdbcType=BIGINT},
      department = #{department,jdbcType=VARCHAR},
      grantid = #{grantid,jdbcType=BIGINT},
      rem = #{rem,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>